apdev-examples/src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b3be8e03-6a51-4343-802f-5c3c603a9dcc" >
		<db:data-source-connection dataSourceRef="mule" />
	</db:config>
	<flow name="getCSVaccounts" doc:id="e4606658-fe2f-4a26-af2b-bea820dc2b19" >
		<file:listener doc:name="accounts.csv" doc:id="9573ae81-3dc6-4a59-908f-fddbf9ca807e" config-ref="File_Config" moveToDirectory="C:\Users\showlade\Desktop\APDevFundamentals4.3_studentFiles_SP_30oct2020\resources\output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to Java" doc:id="950b8f62-9a52-4c07-a1e8-d197d28632f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="efad924f-4ea4-4f71-95bc-0e6b465ebfb0" >
			<set-payload value="processed" doc:name="processed" doc:id="3b63e793-75bc-4ec0-851c-3d0dbd9f8f46" />
			<logger level="INFO" doc:name="payload " doc:id="6fe940aa-4f51-47ee-82a5-cdfe8ddd582d" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="payload " doc:id="f60be357-8405-4474-ab4d-141efa75b404" message="#[payload]"/>
	</flow>
</mule>
